[env]
env: dev
secret: change-this-to-something-secure

[database]
dialect = mysql
driver = pymysql
host = 127.0.0.1
port = 3306
database = test_vortech
username = tester
password = tester
charset = utf8mb4

[log]
path = logs/
